<!DOCTYPE html>
<html lang="en">
<head>
    <title>SensioTV - {% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="SensioTV">
    <meta name="description" content="{% block description %}Avengers movie details.{% endblock %}">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=10"><![endif]-->

    <meta property="og:image" content="https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png">
    <meta property="og:title" content="SensioTV from SensioLabs University - {{ block('title') }}">
    <meta property="og:description" content="{{ block('description') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/sensiotv-favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/sensiotv-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/sensiotv-icon.png">
</head>
<body>

{% block body %}

    {% include 'header.html.twig' with {'show_video_header': show_video_header|default(false)} only %}

    <main id="main">
        {% block main %}{% endblock %}
    </main>

    {% include 'footer.html.twig' only %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}
</body>
</html>
